In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('test_database')

In [2]:

data = {'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [900,300,450,150]
        }

df = pd.DataFrame(data, columns= ['product_name','price'])

In [3]:
df

  product_name  price
0     Computer    900
1       Tablet    300
2      Monitor    450
3      Printer    150

In [4]:

df.to_sql('products', conn, if_exists='replace', index = False)
conn.commit()
conn.close()